<footer style="margin-top:5em">
       <div class="wrapper grid3">
   <article class="col-9">
         <a class="twitter" href="#" target="_blank">&nbsp;</a>
           <a class="facebook" href="#" target="_blank">&nbsp;</a>
           <a class="youtube" href="#" target="_blank">&nbsp;</a>
   </article>

   <article class="col-9">
         Guanajuato Gobierno del Estado<br>
           Paseo de la presa #172<br>
           Col. Paseo de la Presa<br>
           C.P. 36094<br><br>

           <span class="palabras">Teléfono:</span> 01-800-4667370
   </article>

   <article class="col-9">
           <a class="ligas-footer">Tus <span class="palabras">comentarios</span> sobre el sitio<br>
           son muy importantes</a>
   </article>
       </div><!--pie-de-página-->
  </footer>

<div class="avisos">
</div><!--avisos-acerca del sitio-contacto-->
