<header>
  <div class="wrapper grid2">
      <article class="col">
          <div class="menu-usuario">
              <a class="mapa" href="#">Mapa del sitio</a>
              <a class="mail" href="#">Contacto</a>
              <a class="accesibilidad" href="#">Accesibilidad</a>
              <a class="chat" href="#">Chat en línea</a>
          </div><!--menu-de-ayuda-para-el-usuario-->
      </article>

      <article class="col-1">
          <a class="twitter" href="#" target="_blank">&nbsp;</a>
          <a class="facebook" href="#" target="_blank">&nbsp;</a>
          <a class="youtube" href="#" target="_blank">&nbsp;</a>
      </article><!--redes-sociales-->
  </div>

  <div class="wrapper grid3">

      <article class="col-2">
          <img class="logo" src="./assets/images/gobierno-de-guanajuato.jpg" alt="Gobierno del Estado de Guanajuato">
      </article>

      <article class="col-3">
          <h1 class="titulo">Personas con Discapacidad</h1>
          <h2 class="sub-titulo">Instituto Guanajuatenses Para Las Personas con Discapacidad</h2>
      </article>
  </div><!-- /institucional-->
      <div id='cssmenu'>
        <app-menu></app-menu><!--menú-principal-->
      </div>
  </header><!-- /encabezado -->
